@page "/counter"
@rendermode InteractiveServer
@inject ITargetUserService target
@attribute [Authorize(Roles = "Director, Manager")]



<PageTitle>Counter</PageTitle>
    @if (target.targetUser != null && !string.IsNullOrWhiteSpace(target.targetUser.PreferredFullName))
        {
            <h3>Target User is @target.targetUser.PreferredFullName</h3>
        }

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private User targetUser = new User();
    private int currentCount = 0;

   


    private void IncrementCount()
    {
        currentCount++;
    }
}
