@page "/dynamicPortal"
@inject IGenService GenService
@inject NavigationManager NavigationManager
<h3>DynamicPortal</h3>

<p>
    <a href="/dynamicPortalStepOneSelectArea">Go To Select Area</a>
</p>

@code {

}
