@inject IGenService genService
@inject IJSRuntime JS
@inject ITimeZoneService timeZone
@inject ICsvService Csv
@inject ILogger<ManageUser> _logger









<div class="border border-primary">
    This div has a primary border.
</div>
































@code {

}
