@page "/stepEightSignHousingAgreement"
@inject NavigationManager NavigationManager
@inject IGenService GenService

<h3>Step Eight: Sign Housing Agreement</h3>

<!-- Embedded Adobe Sign form -->
<div style="width: 100%; height: 100%; border: 0; overflow: hidden;">
    <iframe src="https://byusign.na2.adobesign.com/public/esignWidget?wid=CBFCIBAA3AAABLblqZhB3CgMCc6i3412faQKEurYXc9N5vLkQEIcvpUSIL2F7Oz9Pazk4i0IiIV5YcP3bn00*&hosted=false"
            style="width: 100%; height: 500px; border: none;">
    </iframe>
</div>

@code {

}
