<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ReslifeFiveFrontEnd</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div> *@

@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div> *@
@* 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="manageBlock">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Manage Block
            </NavLink>
        </div> *@
  @*       <div class="nav-item px-3">
            <NavLink class="nav-link" href="manageBlockTest">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Manage Block Test
            </NavLink>
        </div> *@
@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="gridBlockTest">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Grid Block Test
            </NavLink>
        </div> *@
 @*        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gridBlockTestA">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Grid Block Test A
            </NavLink>
        </div> *@
@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="gridBlockTestB">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Grid Block Test B
            </NavLink>
        </div> *@
@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="gridBlockTestC">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Grid Block Test C
            </NavLink>
        </div> *@
  @*       <div class="nav-item px-3">
            <NavLink class="nav-link" href="gridBlockTestD">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Grid Block Test D
            </NavLink>
        </div> *@
@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="gridBlockTestE">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Grid Block Test E
            </NavLink>
        </div> *@
@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="gridBlockTestG">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Grid Block Test G
            </NavLink>
        </div> *@
@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="SlotManager">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Manage Slots
            </NavLink>
        </div> *@
@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="ManageTestUnit">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Manage Test Unit
            </NavLink>
        </div> *@
       @*  <div class="nav-item px-3">
            <NavLink class="nav-link" href="manageTimePeriodTest">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Manage Time Period Test
            </NavLink>
        </div> *@
@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="manageBlockTestC">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Manage Block Test C
            </NavLink>
        </div> *@
@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="gridBlockTestCVersionF">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Grid Block TestC VersionF
            </NavLink>
        </div> *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="userPortals">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> User Portals
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="otherPortals">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Other Portals
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="adminPortals">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Admin Portals
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gridBlockTestH">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Block Test H Grid
            </NavLink>
        </div>
    </nav>
</div>