<div class="top-row ps-3 navbar" style="background-color: #002E5D;">
    <nav class="d-flex justify-content-evenly w-100">


                <NavLink class="nav-link" style="color: white;"  href="counter">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
                </NavLink>
                <NavLink class="nav-link" style="color: white;" href="">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>

                <NavLink class="nav-link" style="color: white;" href="Login">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
                </NavLink>

                <NavLink class="nav-link" style="color: white;" href="userPortals">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> User Portals
                </NavLink>


        </nav>
</div>


