<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ReslifeFiveFrontEnd</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Login">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="userPortals">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> User Portals
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="otherPortals">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Other Portals
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="adminPortals">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Admin Portals
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="manageRole">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Manage Roles
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="manageUser">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Manage Users
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gridBlockTestJ">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Block J Readonly
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="editGridBlockJ">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Block J Editable
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="metricContracting">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Metrics Spring 2025
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="metricsPortal">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Metrics Portal
            </NavLink>
        </div>

    </nav>
</div>