@inject ISamlService samlService
@inject NavigationManager navigation

@page "/Login"
<h3>Login</h3>

<div>

    <label>Login With SAML:</label>
    <br />

    <Button @onclick="LoginWithSaml" >Login</Button>

    <br />
    <Button @onclick="Logout">Logout</Button>



</div>



@code {

    private void LoginWithSaml()
    {
        var loginUrl = samlService.GenerateSAMLLoginUrl();

        navigation.NavigateTo(loginUrl, forceLoad: true);
    }

    private void Logout()
    {
        navigation.NavigateTo("/Logout", forceLoad: true);
    }



}
