@page "/metricsPortal"
@inject IGenService GenService
<h3>Metrics Portal</h3>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="metricsSpring2025">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Metrics Spring 2025
    </NavLink>
</div>

@code {

}
