@page "/metricContracting"
@inject IGenService GenService

<h3>Contracting Metrics</h3>

<h1> Spring 2025</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Active</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Single</th>
            <td>Row 1, Column 1</td>
            <td>Row 1, Column 2</td>
        </tr>
        <tr>
            <th scope="row">LISR</th>
            <td>Row 2, Column 1</td>
            <td>Row 2, Column 2</td>
        </tr>
        <tr>
            <th scope="row">Family</th>
            <td>Row 3, Column 1</td>
            <td>Row 3, Column 2</td>
        </tr>
        <tr>
            <th scope="row">LISR</th>
            <td>Row 4, Column 1</td>
            <td>Row 4, Column 2</td>
        </tr>
        <tr>
            <th scope="row">Off Campus</th>
            <td>Row 5, Column 1</td>
            <td>Row 5, Column 2</td>
        </tr>
        <tr>
            <th scope="row">Closed For Maintenance</th>
            <td>Row 5, Column 1</td>
            <td>Row 5, Column 2</td>
        </tr>
        <tr>
            <th scope="row">Not Available</th>
            <td>Row 5, Column 1</td>
            <td>Row 5, Column 2</td>
        </tr>
        <tr>
            <th scope="row">Available if Needed</th>
            <td>Row 5, Column 1</td>
            <td>Row 5, Column 2</td>
        </tr>
                <tr>
            <th scope="row">Special</th>
            <td>Row 5, Column 1</td>
            <td>Row 5, Column 2</td>
        </tr>
        <tr>
            <th scope="row">Employee</th>
            <td>Row 5, Column 1</td>
            <td>Row 5, Column 2</td>
        </tr>
        <tr>
            <th scope="row">Total</th>
            <td>Row 5, Column 1</td>
            <td>@BlockTestCount</td>
        </tr>
    </tbody>
</table>


<div class="container-fluid vh-100">
    <h4>Total Count of BlockTest Rows (AgreementPeriod = 3): @BlockTestCount</h4>
</div>

@code {
    private int BlockTestCount;

    protected override async Task OnInitializedAsync()
    {
        await LoadBlockTestCount();
    }

    private async Task LoadBlockTestCount()
    {
        BlockTestCount = await Task.Run(() =>
            GenService.GetModel<BlockTest>().Count(bt => bt.AgreementPeriod == 3));
    }
}
