@page "/otherPortals"
@inject IGenService GenService
@inject NavigationManager NavigationManager

<h3>Other Portals</h3>

<!-- Navigation using a button -->
<p>
    <button class="btn btn-primary" @onclick="NavigateToCounter">Go to Counter</button>
</p>
<p>
    <button class="btn btn-primary" @onclick="NavigateToWeather">Go to Weather</button>
</p>
<p>
    <button class="btn btn-primary" @onclick="NavigateToGridBlockTest">Go to Grid Block Test</button>
</p>

@code {
    private void NavigateToCounter()
    {
        NavigationManager.NavigateTo("/counter");
    }
    private void NavigateToWeather()
    {
        NavigationManager.NavigateTo("/weather");
    }
    private void NavigateToGridBlockTest()
    {
        NavigationManager.NavigateTo("/gridBlockTest");
    }
}