@page "/portalOneSelectMealPlan"
@inject NavigationManager NavigationManager
@inject IGenService GenService
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.WebUtilities
<h3>PortalOneSelectMealPlan</h3>

@code {

}
