@page "/portalOneSignHousing"
@inject NavigationManager NavigationManager
@inject IGenService GenService
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.WebUtilities

<h3>Sign Housing Agreement</h3>

<div class="progress">
    <div class="progress-bar"
         role="progressbar"
         style="width: 70%;"
         aria-valuenow="70"
         aria-valuemin="0"
         aria-valuemax="100">
        Step 7 of 10
    </div>
</div>

@code {

}
