@page "/portalOneSignHousing"
@inject NavigationManager NavigationManager
@inject IGenService GenService
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.WebUtilities

<h3>PortalOneSignHousing</h3>

@code {

}
