@page "/portalOneSignHousing"
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.WebUtilities

<p>Adobe Sign</p>

<iframe src="https://byusign.na2.adobesign.com/public/esignWidget?wid=CBFCIBAA3AAABLblqZhDM3zCrudXhWDBOpRpgO3eb81DCYxg860qVofVXyHDFouQU9N84_ViVlbBrUb_eldc*&hosted=false#Prop1=Area" width="100%" height="100%" frameborder="0" style="border: 0; overflow: hidden; min-height: 500px; min-width: 600px;"></iframe>

@code {
  
}