@page "/userPortals"
@inject IGenService GenService
@inject NavigationManager NavigationManager

<h3>UserPortals</h3>

<!-- Navigation using a link -->
@* <p>
    <a href="/portalOne">Go to PortalOne</a>
</p> *@

<!-- Navigation using a button -->
<p>
    <button class="btn btn-primary" @onclick="NavigateToTestMyContracts">Test View My Contracts</button>
</p>

<p>
    <button class="btn btn-primary" @onclick="NavigateToPortalOne">Go to New Test Contract PortalOne</button>
</p>

<p>
    <button class="btn btn-primary" @onclick="NavigateToCancelContracts">Go to Test Cancle Contract</button>
</p>

<p>
    <button class="btn btn-primary" @onclick="NavigateToTestMySwaps">Go to Test My Swaps</button>
</p>

<p>
    <button class="btn btn-primary" @onclick="NavigateToTestSeekingReplacement">Seeking Replacments</button>
</p>

<p>
    <button class="btn btn-primary" @onclick="NavigateToTestMyPetitions">Test My Petitions</button>
</p>

@code {
    private void NavigateToPortalOne()
    {
        NavigationManager.NavigateTo("/portalOne");
    }
    private void NavigateToTestMyContracts()
    {
        NavigationManager.NavigateTo("/testMyContracts");
    }

    private void NavigateToCancelContracts()
    {
        NavigationManager.NavigateTo("/testContractCancelation");
    }

    private void NavigateToTestMySwaps()
    {
        NavigationManager.NavigateTo("/testMySwaps");
    }

    private void NavigateToTestSeekingReplacement()
    {
        NavigationManager.NavigateTo("/testSeekingReplacement");
    }
    private void NavigateToTestMyPetitions()
    {
        NavigationManager.NavigateTo("/testMyPetitions");
    }
}
