@page "/userPortals"
@inject IGenService GenService
@inject NavigationManager NavigationManager

<h3>UserPortals</h3>

<!-- Navigation using a link -->
@* <p>
    <a href="/portalOne">Go to PortalOne</a>
</p> *@

<!-- Navigation using a button -->
<p>
    <button class="btn btn-primary" @onclick="NavigateToPortalOne">Go to PortalOne</button>
</p>

<p>
    <button class="btn btn-primary" @onclick="NavigateToTestMyContracts">Test My Contracts</button>
</p>

@code {
    private void NavigateToPortalOne()
    {
        NavigationManager.NavigateTo("/portalOne");
    }
    private void NavigateToTestMyContracts()
    {
        NavigationManager.NavigateTo("/testMyContracts");
    }
}
